<div class="bg-img">
    <div class="search-bar">
      <mat-card id="card">
        <mat-card-content>
          <input
            type="text"
            placeholder="Search with Name..."
            [(ngModel)]="query"
          />
        </mat-card-content>
      </mat-card>
    </div>
    <div
      class="main-div"
      *ngFor="let mov of movies | filter : query : 'movieName'"
    >
      <mat-card class="tp-card">
        <mat-card-header class="text">
          <mat-card-title>{{ mov.movieName }}</mat-card-title> </mat-card-header
        ><img
          mat-card-image
          *ngFor="let image of img"
          class="imgs"
          src="{{ image.imagePath }}"
          alt="Photo of Product"
        />
        <mat-card-actions>
          <button mat-raised-button class="button" (click)="viewMovie(mov.id)">
            View
          </button>
          <button mat-raised-button class="btn" (click)="updateMovie(mov.id)">
            Update
          </button>
          <button mat-raised-button class="delete" (click)="deleteMovie(mov.id)">
            Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  