<div class="bg-img">
  <div class="example-container">
    <div class="form-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Add Movie</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="row">
          <form [formGroup]="addMovieForm">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label> Movie Name </mat-label>
              <input
                matInput
                formControlName="movieName"
                placeholder="Enter Movie Name"
                required
              />
              <mat-error
                *ngIf="addMovieForm.get('movieName')?.hasError('required')"
              >
                Movie Name is required
              </mat-error>
              <mat-error
                *ngIf="addMovieForm.get('movieName')?.hasError('maxlength')"
              >
                Movie Name should not exceed 25 characters
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Movie Genre</mat-label>
              <mat-select
                formControlName="genre"
                placeholder="Select an Movie Genre"
                required
              >
                <mat-option [value]="genre" *ngFor="let genre of genres">{{
                  genre
                }}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="addMovieForm.get('genre')?.hasError('required')"
              >
                Movie Genre is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-fieldarea" appearance="outline">
              <mat-label>Movie Description</mat-label>
              <textarea
                matInput
                rows="5"
                cols="40"
                formControlName="movieDescription"
                placeholder="Enter Movie Synopsis"
                required
              ></textarea>
              <mat-error
                *ngIf="addMovieForm.get('movieDescription')?.hasError('required')"
              >
                Movie description is required
              </mat-error>
              <mat-error
                *ngIf="addMovieForm.get('movieDescription')?.hasError('minlength')"
              >
                Synopsis should be min 10 characters</mat-error
              >
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Ticket Value</mat-label>
              <input
                matInput
                formControlName="ticketValue"
                placeholder="Enter Movie Ticket Price"
                required
              />
              <mat-error
                *ngIf="addMovieForm.get('ticketValue')?.hasError('required')"
              >
                Ticket price cannot be empty
              </mat-error>
              <mat-error
                *ngIf="addMovieForm.get('ticketValue')?.hasError('pattern')"
              >
                Invalid ticket price
              </mat-error>
            </mat-form-field>
            <button
              mat-raised-button
              class="button"
              [disabled]="!addMovieForm.valid"
              (click)="addMovie()"
            >
              Add
            </button>
            <button mat-raised-button class="btn" (click)="cancel()">
              Cancel
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
